{>header /}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>


<div id="main" class="container testlist" ng-app="testlist" ng-controller="TestListController">
	<div class="row">
		<div class="col-md-8"> 
			<form action="/test", method="POST">
				<div class="input-group">
					<span class="input-group-btn">
						<input type="submit" value="newTest" class="btn btn-default">
					</span>
					<input type="text" name="name" class="form-control" placeholder="Testname">

				</div>
			</form>

        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" title="">Go!</button>
          </span>
          <input type="text" class="form-control">
        </div>
		</div>
	</div>
	<div class="row testlist-folders">
		<div class="col-md-6"> 
			<div class="panel">
				<h4>Folders</h4>
				<table class="table">
					<thead>
						<tr>
							<th>Name</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-class="{selected: $index==active}" ng-repeat="(index, folder) in folders" ng-click="pickFolder(index)">
							<td>[([folder])]</td>
						</tr>	
					</tbody>
				</table>
				
			</div>
		</div>

		<div class="col-md-6 testlist-tests">
			<div class="panel">
				<h4>Tests - [([selectedFolder])]</h4>

				<table class="table">
					<thead>
						<tr>
							<th>Name</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="test in tests">
							<td>[([test.name])]</td>
						</tr>	
					</tbody>
				</table>
			</div>
		</div>
	</div>


	</div>
</div>

<script type="text/javascript" src="/javascript/testlist.js"></script>


{>footer /}