{>header_nodojo /}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>

<div id="main" class="container">
  <div class="row">
    <div id="expview" class="col-md-9"> 

      <div class="row">
        <div class="col-md-12">
          <h1>{training.name}  </h1>
          <p> {training.introduction|s}</p>
        </div>
      </div>
      
      {?training.requireLogin}
        {?loggedIn}
          <div class="row">
            <div class="col-md-12">
              <form action="{URI}/participate" method="post">
                <button class="btn btn-primary"type="submit">Participate</button>
              </form>

            </div>
          </div>
        {:else}
          <p><strong>You need to sign in to proceed with the training, <a href="/login">click here</a> to login or create an account</strong></p>
        {/loggedIn}
      {:else}
       <div class="row">
        <div class="col-md-12">
          <form action="{URI}/participate" method="post">
            <button class="btn btn-primary"type="submit">Participate</button>
          </form>

        </div>
      </div>
      {/training.requireLogin}

    </div>
  </div>
</div>
{>footer /}
