{>header /}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>

<link rel="stylesheet" href="/javascript/bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
<script type="text/javascript" src="/javascript/bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>

<script type="text/javascript" src="/javascript/trainingedit.js"></script>



<div class="container" id="main" ng-app="trainingEdit">
    <div class="row">
      <div class="col-md-3"> </div>
      <div class="col-md-9" ng-controller="componentController"> 

        <div class="panel panel-fancy" ng-repeat="(key, components) in training.components">
          <h5>[([key])]</h5>
          <div ui-tree>
            
            <ul ui-tree-nodes="" ng-model="components"> 
              <li class="componentlist" ng-repeat="comp in components" ui-tree-node>
                <div ui-tree-handle>
                  [([comp.name])]
                  <span ng-if="comp.type == 'test'">
                  TTTTEST
                  <!-- code to render a large video block-->
                  </span>
                  <span ng-if="comp.type == 'form'">
                    FFFORM
                  <!-- code to render the regular video block -->
                  </span>
                  <button ng-click="delComponent(key, $index)" class="btn btn-danger" type="submit">Delete</button>
                </div>
              </li>
            </ul>
          </div>

          <div>
            <button class="btn btn-default">Add form</button>
            <input>
            <button class="btn btn-default">Add test</button>
          </div>

        </div>
        <button class="btn btn-success"ng-click="saveTraining()">Save</button>
      </div>
    </div>
    <div class="row">
        asdsadsadsad dfgfd gfd
    </div>
</div>

<script type="text/javascript" src="/javascript/trainingedit.js"></script>


{>footer /}