{>header_nodojo /}

<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/none.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.js"></script>

<script type="text/javascript" src="/javascript/trainingadmin.js"></script>

<script src="/javascript/bower_components/moment/moment.js"></script>
<script src="/javascript/bower_components/angular-moment/angular-moment.js"></script>

<script src="/javascript/bower_components/CSV-JS/csv.js"></script>

<script type="text/javascript">
  //window.chartData={chartData|s|js}
  //console.log(window.chartData)
</script>

<div id="main" class="container" ng-app="trainingAdmin">
  <div class="row">
    <div id="trainingView" class="col-md-offset-1 col-md-10"> 

      <div class="row">
        <div class="col-md-12">
          <h1 class="pull-left">{training.name}</h1>
          <a href="{URI}/edit" class="pull-right btn  btn-success" style="margin-top: 26px;">Edit</a>
        </div>
      </div>

      <!-- Stats --> 
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4">
          <div class="infopanel">
            <h4>PageViews</h4>
            <p>487</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4">
          <div class="infopanel">
            <h4>PageViews</h4>
            <p>487</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4">
          <div class="infopanel">
            <h4>Conversion</h4>
            <p>55/10%</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4">
          <div class="infopanel">
            <h4>Dropouts</h4>
            <p>150</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4">
          <div class="infopanel">
            <h4>Completed</h4>
            <p>175</p>
          </div>
        </div>
      </div>


      <!--Graph-->
      <div class="row">
        <div id="chartdiv"></div>                   
      </div>

   <!--   <div class="row">
        <div class="col-md-12">
          <div ng-controller="userProgressController">
            <ul class="userProgress">
              <li ng-repeat="(key,user) in participants" class="row">
                <div class="col-md-6">
                  <span>[([key])] ##</span>
                  <span>[([user.userId])]</span> 
                  <span>[([user.timestamp | date:'M/d/yyyy'])]</span>
                  <span class="label label-danger ">[([user.mode])]</span>
                  <span>---[([user.inControlGroup])]</span>
                </div>
                <div class="col-md-3">
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="[([user.percentageDone])]" aria-valuemin="0" aria-valuemax="100" style="width: [([user.percentageDone])]%">
                      <span>[([user.percentageDone])]% </span>
                    </div>
                </div>
                </span>

              </li>
            </ul>
          </div>
        </div>
      </div>-->

      <div class="row">
        <div class="col-md-12">
          <div ng-controller="userProgressController" class="userProgress">

            <table class="table table-striped ">
              <thead>
                <th>#</th>
                <th>ID</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Status</th>
                <th>Control</th>
                <th>Progress</th>
              </thead>
              <tbody class="userProgress">
                <tr ng-repeat="(key,user) in participants" ng-class="rowClass(user)"> 
                  <td>[([key])]</td>
                  <td>[([user.userId])]</td>
                  <td>[([user.timestamp | date:'M/d/yyyy'])]</td>
                  <td><span ng-if="user.mode != 'done'" am-time-ago="user.hoursTilDone"></span></td>
                  <td><span class="label label-danger ">[([user.mode])]</span></td>
                  <td ng-if="user.inControlGroup == true">
                    <span class="label label-warning">Control</span>
                  </td>
                  <td ng-if="user.inControlGroup == false">
                    <span class="label label-info">Training</span>
                  </td>
                  <td class="progressCell">
                    <div class="progress">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="[([user.percentageDone])]" aria-valuemin="0" aria-valuemax="100" style="width: [([user.percentageDone])]%">
                        <span>[([user.percentageDone])]% </span>
                      </div>
                  </div>

                  </td>
                </tr>
              </tbody>
              
            </table>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div ng-controller="trainingDataFilterController" class="dataFilter">
            <select ng-model="filter1" ng-options="o as o for o in ['pre', 'post', 'training']"></select>

            <div ng-if="filter1 == 'pre' || filter1 == 'post'">
              <select ng-model="$parent.filter2" ng-options="o as o for o in ['single', 'raw']"></select>
              <select ng-model="$parent.$parent.filter3" ng-if="$parent.filter2 == 'raw'" ng-options="o as o for o in getComponentIterations(filter1)"></select>
            </div>

            <div ng-if="filter1 == 'training'">
              <select ng-model="$parent.filter2" ng-options="o.userId as o.userId for o in getUsers()"></select>
              <select ng-model="$parent.filter3" ng-options="o as o for o in ['raw', 'single']"></select>
              <select ng-if="$parent.filter3 === 'raw'" ng-model="$parent.$parent.filter4" ng-options="o as o for o in getIterations()"></select>
            </div>

            <button ng-click="buildQuery()" class="btn btn-success">Run</button>


            <a id="dlLink" class="ng-hide" ng-show="downloadData">Download data</a>
            <div class="row">
              <div class="col-md-12 overflow300">
                  <table class="table table-striped table-condensed table-bordered">
                    <thead ng-repeat="row in datarows.slice(0,1)">
                      <tr>
                        <th ng-repeat="col in row track by $index">[([col])]</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="row in datarows.slice(1,entries.length)">
                        <td ng-repeat="col in row track by $index">[([col])]</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-8">
          <form action="{URI}/enrolluser" method="POST">
            <div class="form-group">
              <label>User ids to add to the training</label>
              <textarea class="form-control" name="userids"></textarea>
            </div>

            <div class="form-group">
              <input type="submit" value="add" class="btn btn-primary"></input>
            </div>
          </form>
        </div>
      </div>


      <!--Data-->
      <div class="row">
        
      </div>
    </div>
  </div>
</div>

{>footer /}