{>header_nodojo /}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.js"></script>


<link rel="stylesheet" href="/javascript/bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
<script type="text/javascript" src="/javascript/bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
<script type="text/javascript" src="/javascript/bower_components/angular-ui-select/dist/select.js"></script>
<script type="text/javascript" src="/javascript/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<link rel="stylesheet" type="text/css" href="
/javascript/bower_components/angular-ui-select/dist/select.css">

<script type="text/javascript" src="/javascript/trainingedit.js"></script>


<div class="container" id="main" ng-app="trainingEdit" ng-controller="trainingController">
  <div class="row">
    <div class="col-md-12">    
      <label>Experiment name</label>
      <input  class="form-control"  ng-model="training.name">

      <label>Description</label>
      <textarea class="form-control" ng-model="training.description"> </textarea>

      <label>End message</label>
      <textarea class="form-control" ng-model="training.endmessage"> </textarea>

      <div class="row">
        <div class="col-md-4">
          <label>Start date</label>
          <p class="input-group">
            <input type="text" class="form-control" ng-model="training.startDate" ng-required:"true" is-open="opened" options="dateOptions" close-text="Close" datepicker-popup="[([format])]" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>

        <div class="col-md-4">
          <label>End Date</label>
          <p class="input-group">
            <input type="text" class="form-control" ng-model="training.endDate" ng-required:"true" is-open="opened" min-date="training.startDate" options="dateOptions"  close-text="Close" datepicker-popup="[([format])]"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>

      </div>

      <div class="row">
        <div class="col-md-4 ">
          <label>Repeat training</label>
          <input class="form-control" ng-model="training.repeatcount">
        </div>

        <div class="col-md-4 ">
          <label>Pause between tries</label>
          <input class="form-control" ng-model="training.repeatpause">
        </div>

        <div class="col-md-4 ">
          <label>Max pause</label>
          <input class="form-control" ng-model="training.maxpause">
        </div>
        
      </div>

      <div class="row">
        <div class="col-md-3">
          <span class="checkbox">
            <label class="bigcheckbox">
              Control group
              <input type="checkbox" ng-model="training.controlgroup" ng-true-value="true" ng-false-value="false"
              ng-click="toggleControlGroup($event)"
              >
            </label>
          </span>
        </div>

        <div class="col-md-3">
          <span class="checkbox">
            <label class="bigcheckbox">
              Show score
              <input type="checkbox" ng-model="training.showScore" ng-true-value="true" ng-false-value="false"
              ng-click="toggleControlGroup($event)"
              >
            </label>
          </span>
        </div>
      </div>

    </div> 
  </div>
  <div ng-controller="componentController">
    <div class="row">
      <div class="col-md-12" > 

        <div class="panel panel-fancy" ng-repeat="(key, components) in training.components">
          <h5>[([key])]</h5>
          <div ui-tree>
            
            <ul ui-tree-nodes="" ng-model="components" class="fancyList angularcomponentlist"> 
              <li class=" " ng-repeat="comp in components" ui-tree-node>
                <div class="dragHandle" ui-tree-handle><i class="fa fa-bars"></i></div>
                 <div class="form-inline">

                  <span ng-if="comp.type == 'test'">
                    <input class="form-control" ng-model=comp.name readonly>
                    
                    <span class="checkbox">
                      <label class="componentcheckbox">
                        Randomize
                        <input type="checkbox" ng-model="comp.random" ng-true-value="true" ng-false-value="false">
                      </label>
                    </span>

                    <span ng-if="comp.random">
                      <span>Group</span>
                      <select class="form-control input-sm" name="Random group" ng-model="comp.randomgroup" ng-options="n for n in [] | range:1:10" ng-init="comp.randomgroup = comp.randomgroup || 1"></select>
                    </span>
                  </span>

                  <span ng-if="comp.type == 'form'">
                    <input class="form-control" ng-model=comp.name placeholder="Unnamed form"> 
                    <a href="/questionnaire/mongo/[([comp.id])]" class="btn btn-warning" target="_blank">Edit</a>
                  </span>

                  <span class="form">
                    <button ng-click="delComponent(key, $index)" class="btn btn-danger pull-right " type="submit">Delete</button>
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
   
    <div class="row">
      <div class="col-md-1">
        <button class="btn btn-default" ng-click="addForm()">Add form</button>
      </div>

      <div class="col-md-10">
        <div class="form-group">
          <ui-select ng-model="test.selected"  theme="bootstrap" ng-disabled="disabled" style="min-width: 300px; max-width: 300px; display: inline-block">
            <ui-select-match placeholder="Select an experiment">[([$select.selected.name])]</ui-select-match>
            <ui-select-choices repeat="test in tests | filter:{name:$select.search}">
              <div ng-bind-html="test.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>  
          <button class="btn btn-default" ng-disabled="test.selected == null" ng-click="addTest()">Add test</button>
        </div>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-success"ng-click="saveTraining()">Save</button>
    </div>
  </div>



</div>

<script type="text/javascript" src="/javascript/trainingedit.js"></script>


{>footer /}