{>header /}
<script
  src="//ajax.googleapis.com/ajax/libs/dojo/1.10.0/dojo/dojo.js"
  data-dojo-config="async: true, parseOnLoad: true"
></script>

<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<!-- <script src="/javascript/soile2.js"></script> -->
<!--<script type="text/javascript" src="/javascript/bower_components/fast-levenshtein/levenshtein.js"></script>
-->
<link
  rel="stylesheet"
  href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
/>

<div class="container main">
  <div class="row">
    <!-- <title>VideoPhase</title>
    <h1>{config.file}</h1> -->
    <div class="content">
      <div id="videomessage" style="display: none"></div>

      <div class="col-md-12 text-center">
        <video id="main-video" style="display: none">
          <source src="{testConfig.file}" type=video/mp4>
        </video>
        <h1 id="preview-title"></h1>
        <p id="preview-instructions"></p>
        <video id="camera-preview" autoplay muted></video>
        <h1 id="title" style="display: none"></h1>
        <p id="text" style="display: none"></p>
        <br>
        <button class="btn btn-lg btn-primary" id="start-button" style="display: none"></button>
        <button class="btn btn-lg btn-primary" id="record-button" style="display: none"></button>
      </div>
    </div>

    <!-- <script src="video.js"></script> -->

    <div class="col-md-6 col-md-offset-3">
      <br class="progress">
      <div class="progress-bar progress-bar-success" role="progressvar" aria-valuenow="{completed}"
        aria-valuemin="0" aria-valuemax="100" style="width:{completed}%">
        {phasesLeft}
      </div>
    </div>
  </div>
  <div class="row-md text-right">
    <a class="btn btn-sm btn-primary" id="exit-button" href="{exitUrl}" role="button" style="visibility:{exitButton}; margin-right:30px;">{exitButtonLable}</a>
  </div>

  {?testConfig}
  <script type="text/javascript">
    window.testConfig = {testConfig|s|js};
    </script>
  {/testConfig} {?noSubmit}
  <script type="text/javascript">
    window.noSubmit = true
    </script>
  {/noSubmit}
</div>

<script type="text/javascript" src="/javascript/videophase.js"></script>

<style>
  #main-video {
    /* max-width: 800px; */
    height: 100%;
    width: 100%;
  }
  
  #camera-preview {
    height: 100%;
    width: 100%;
    /* 
    max-width: 800px;
    position: absolute;
    top: 450px;
    left: 1100px;
    left: 13000px; */
  }

  .content {
    margin-left: 10%;
    margin-right: 10%;
    min-height: 400px;
  }
</style>
{>footer /}
