{>header /}
<script src="//ajax.googleapis.com/ajax/libs/dojo/1.9.0/dojo/dojo.js" data-dojo-config="async: true, parseOnLoad: true"></script>
<div id="main" class="container">
	<div class="row">
		<div class="col-md-6"> 
			<div id="error-message" style="visibility: hidden;" class="alert alert-danger">

			</div>
			<textarea data-dojo-type="dijit/form/Textarea" id="markup">
				{markup}
			</textarea>
			<button id="renderform" data-dojo-type="dijit/form/Button" type="button">	Update Form
  			<!--<script type="dojo/on" data-dojo-event="click" data-dojo-args="evt">
      			require(["dojo/dom"], function(dom){
            	dom.byId("markup").innerHTML += "Thank you! ";
			        });
			    </script>-->
			</button>
<div id="result2"></div>
		</div>
		<div class="col-md-6" id="renderWindow">
			{form|s}

		</div>
	</div>
</div>

<script type="text/javascript">
require(["dijit/form/Button", 
			"dojo/dom",
			"dojo/dom-style",
			"dojo/request", 
			"dijit/registry",
			"dojo/on", 
			"dojo/json",
			"dojo/ready"], 
		function(Button, 
			dom, 
			domStyle,
			request, 
			registry,
			on, 
			json,
			ready){ 
		ready(function() {

		var markup = dom.byId("markup");
		markup = registry.byId("markup");
		var renderForm = dom.byId("renderform");
		var renderWindow = dom.byId("renderWindow");

		var errorFrame = dom.byId("error-message");

		on(renderForm, "click", function() {
			console.log("posting data");

			errorFrame.innerHTML = "";
			domStyle.set("error-message", "visibility", "hidden");

			request.post("",{
				data: markup.get("value")

			}).then(function(reply){
				/*Parsing json*/
				jsonData = json.parse(reply);
				if(jsonData.hasOwnProperty('error')) {
					errorFrame.innerHTML = jsonData.error;
					domStyle.set("error-message","visibility","visible");
				}else {
					/*updating the div with the new form*/
					var renderedForm = jsonData.data;
					renderWindow.innerHTML = renderedForm;
				}
			})
		})
	});
})
	
</script>

{>footer /}