{>header /}
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.9.0/dijit/themes/claro/claro.css">
<div id="main" class="container">
	<div class="row">
		<div class="col-md-5"> 
			<div id="error-message" style="visibility: hidden;" class="alert alert-danger">

			</div>
			<textarea data-dojo-type="dijit/form/Textarea" id="markup">
				{markup}
			</textarea>
			<button id="renderform" data-dojo-type="dijit/form/Button" type="button">	Update Form
  			<!--<script type="dojo/on" data-dojo-event="click" data-dojo-args="evt">
      			require(["dojo/dom"], function(dom){
            	dom.byId("markup").innerHTML += "Thank you! ";
			        });
			    </script>-->
			</button>
			<div id="result2"></div>
		</div>
		<div class="col-md-7" id="renderWindow">

		</div>
	</div>
	<div class="row">
		<div class="col-md">
			<div id="contPane"> </div>
		</div>
	</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/dojo/1.9.0/dojo/dojo.js" data-dojo-config="async: true, parseOnLoad: true"></script>
<script type="text/javascript" src="/javascript/displayForm.js"></script>
<!--
require(["dijit/form/Button", 
			"dojo/dom",
			"dojo/dom-style",
			"dojo/request", 
			"dijit/registry",
			"dojo/parser,"
			"dojo/on", 
			"dojo/json",
			"dojox/layout/ContentPane",
			"dojo/ready"], 
		function(Button, 
			dom, 
			domStyle,
			request, 
			registry,
			parser,
			on, 
			json,
			ContentPane,
			ready){ 
		ready(function() {

		var markup = dom.byId("markup");
		markup = registry.byId("markup");
		var renderForm = dom.byId("renderform");
		var renderWindow = dom.byId("renderWindow");

		var errorFrame = dom.byId("error-message");

		var contentPane = new ContentPane({
				content:"This is a contentpane"
			},"contPane");			
		on(renderForm, "click", function() {
			console.log("posting data");

			errorFrame.innerHTML = "";
			domStyle.set("error-message", "visibility", "hidden");

			request.post("",{
				data: markup.get("value")

			}).then(function(reply){
				/*Parsing json*/
				jsonData = json.parse(reply);
				if(jsonData.hasOwnProperty('error')) {
					errorFrame.innerHTML = jsonData.error;
					domStyle.set("error-message","visibility","visible");
				}else {
					/*updating the div with the new form*/
					var renderedForm = jsonData.data;
					renderWindow.innerHTML = renderedForm;

					contentPane.set("content",jsonData.data);
					/*Createing or updating the contentpane*/
				}
			})
		})
	});
})
	
</script> -->

{>footer /}