{>header /}
<div id="main" class="container">
	<div class="row">
		<div class="col-md-6">

			<div data-dojo-type="dijit/form/Form" id="expForm" data-dojo-id="expForm" action="" method="">  
				<label for="firstname">Experiment Name</label>
				<input type="text" name="firstname" value="testing testing" data-dojo-type="dijit/form/TextBox" data-dojo-props="trim:true, propercase:true" id="name" class="form-control" required="true"/>

				<label for="firstname">Experiment description</label>
				<textarea type="text" name="description" data-dojo-type="dijit/form/Textarea" id="description" rows="4"></textarea>


				<label for="startDate">Start Date:</label><br>
				<input type="text" name="startDate" id="startDate" data-dojo-type="dijit/form/DateTextBox" required="true"/>

				<label for="endDate">EndDate</label> <br>
				<input type="text" name="endDate" id="endDate" data-dojo-type="dijit/form/DateTextBox" required="true"/>


				<button data-dojo-type="dijit/form/Button" type="submit" name="submitButton" value="Submit" id="submit">Submit</button>


			</div>
			
		</div>
	</div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/dojo/1.9.0/dojo/dojo.js" data-dojo-config="async: true, parseOnLoad: true"></script>
<script type="text/javascript" src="/javascript/expform.js"></script>

{>footer /}