  {>header /}
<div class="container">    
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-sm-6">                    
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
            </div>     

            <div style="padding-top:30px" class="panel-body" >

                {#errors}
                <div id="login-alert" class="alert alert-danger col-sm-12">{errors}</div>
                {:else}
                 <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                {/errors}

                    
                <form id="loginform" class="form-horizontal" role="form" action="/login" method="post">
                            
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email">                                        
                    </div>
                        
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
                    </div>
                            
                    <input id="origin" name="origin" type="hidden" value="{origin|u|s}">

                        
                    <div class="input-group">
                      <div class="checkbox">
                        <label>
                          <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                        </label>
                      </div>
                    </div>



                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->

                        <div class="col-sm-12 controls">
                          <button id="btn-login" class="btn btn-success" type="submit">Login</button>
                        </div>
                    </div>
                </form>     
            </div>                     
        </div>  
    </div>

    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-sm-6">                    
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Register</div>

            </div>     

            <div style="padding-top:30px" class="panel-body" >

                {#registererrors}
                <div id="login-alert" class="alert alert-danger col-sm-12">{registererrors}</div>
                {:else}
                 <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                {/registererrors}

                    
                <form id="registerform" class="form-horizontal" role="form" action="/signup" method="post">
                            
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        {#username}
                        <input id="username" type="text" class="form-control" name="email" value="{username}" placeholder="username or email">
                        {/username}
                        {^username}    
                        <input id="username" type="text" class="form-control" name="email" placeholder="username or email">           
                        {/username}

                    </div>

                    <input id="origin" name="origin" type="hidden" value="{origin|u|s}">

                        
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="login-password" type="password" class="form-control" name="passwd" placeholder="password">
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="register-password-again" type="password" class="form-control" name="passwdAgain" placeholder="Repeat Password">
                    </div>
                            
                    <input id="origin" name="origin" type="hidden" value="{origin|u|s}">

                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->

                        <div class="col-sm-12 controls">
                          <button id="btn-login" class="btn btn-success" type="submit">Register</button>
                        </div>
                    </div>
                </form>     
            </div>                     
        </div>  
    </div>


</div> 

{>footer /}