{>header /}
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.9.0/dojo/dojo.js" data-dojo-config="async: true, parseOnLoad: true"></script>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>

    <script src="/javascript/soile2.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
    <style type="text/css" media="screen">
        #editor { 
            position: relative;
            height: 550px;
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="uploader">
                    <button data-dojo-type="dijit/form/Button" type="button" id="uploadButton"> Upload</button>
                </div>
            </div>
            <div class="col-md-12">
<!--                 <textarea data-dojo-type="dijit/form/Textarea" id="code">
                    {test.code}
                </textarea>    
 -->
                <div id="editor">
                    {test.code}
                </div>
            </div>
            
            <div class="col-md-12">
                <button data-dojo-type="dijit/form/Button" type="button" id="compileButton">Save&Compile</button>

                <button data-dojo-type="dijit/form/Button" type="button" id="runButton"> Run</button>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger hidden" id="errorbox">
                </div>
            </div>
            <div class="col-md-12 placeholder50px"></div>
            <div class="col-md-12">
                <div id="display">
                    <p id="message"></p>
                </div>
            </div>
            <div id="logdiv"class="col-md-12">
                <table class="table table-condensed" id="log">
                    <thead>
                        <th>Timestamp</th>
                        <th>Message</th>
                    </thead>
                    <tr></tr>

                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/javascript/testeditor.js"></script>

{>footer /}