{>header /}
<div id="main" class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <h4>Manage Users</h4>
                <table class="table">
                    <thead>
                        
                    </thead>
                    {#users}
                    <tbody>
                        <tr>
                            <td>{username}</td>
                        </tr>
                    </tbody>
                    {/users}
                </table>
            </div> 
        </div>
        <div class="col-md-6"></div>
    </div>
</div>

{>footer /}